{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react/jsx-runtime"
	],
	"plugins": [
		"prettier",
		"react"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"legacyDecorators": true
		}
	},
	"parser": "@babel/eslint-parser",
	"env": {
		"node": true,
		"browser": true
	},
	"globals": {},
	"rules": {
		"prettier/prettier": "error",
		"no-console": [
			"warn",
			{
				"allow": [
					"warn",
					"error"
				]
			}
		],
		"react/prop-types": "off",
		"react/self-closing-comp": [
			"error",
			{
				"component": true,
				"html": true
			}
		]
	}
}