.row::after {
  clear: both;
  content: '.';
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden; }

.row .col {
  float: left; }
  .row .col.per1 {
    width: 1%; }
  .row .col.per2 {
    width: 2%; }
  .row .col.per3 {
    width: 3%; }
  .row .col.per4 {
    width: 4%; }
  .row .col.per5 {
    width: 5%; }
  .row .col.per6 {
    width: 6%; }
  .row .col.per7 {
    width: 7%; }
  .row .col.per8 {
    width: 8%; }
  .row .col.per9 {
    width: 9%; }
  .row .col.per10 {
    width: 10%; }
  .row .col.per11 {
    width: 11%; }
  .row .col.per12 {
    width: 12%; }
  .row .col.per13 {
    width: 13%; }
  .row .col.per14 {
    width: 14%; }
  .row .col.per15 {
    width: 15%; }
  .row .col.per16 {
    width: 16%; }
  .row .col.per17 {
    width: 17%; }
  .row .col.per18 {
    width: 18%; }
  .row .col.per19 {
    width: 19%; }
  .row .col.per20 {
    width: 20%; }
  .row .col.per21 {
    width: 21%; }
  .row .col.per22 {
    width: 22%; }
  .row .col.per23 {
    width: 23%; }
  .row .col.per24 {
    width: 24%; }
  .row .col.per25 {
    width: 25%; }
  .row .col.per26 {
    width: 26%; }
  .row .col.per27 {
    width: 27%; }
  .row .col.per28 {
    width: 28%; }
  .row .col.per29 {
    width: 29%; }
  .row .col.per30 {
    width: 30%; }
  .row .col.per31 {
    width: 31%; }
  .row .col.per32 {
    width: 32%; }
  .row .col.per33 {
    width: 33%; }
  .row .col.per34 {
    width: 34%; }
  .row .col.per35 {
    width: 35%; }
  .row .col.per36 {
    width: 36%; }
  .row .col.per37 {
    width: 37%; }
  .row .col.per38 {
    width: 38%; }
  .row .col.per39 {
    width: 39%; }
  .row .col.per40 {
    width: 40%; }
  .row .col.per41 {
    width: 41%; }
  .row .col.per42 {
    width: 42%; }
  .row .col.per43 {
    width: 43%; }
  .row .col.per44 {
    width: 44%; }
  .row .col.per45 {
    width: 45%; }
  .row .col.per46 {
    width: 46%; }
  .row .col.per47 {
    width: 47%; }
  .row .col.per48 {
    width: 48%; }
  .row .col.per49 {
    width: 49%; }
  .row .col.per50 {
    width: 50%; }
  .row .col.per51 {
    width: 51%; }
  .row .col.per52 {
    width: 52%; }
  .row .col.per53 {
    width: 53%; }
  .row .col.per54 {
    width: 54%; }
  .row .col.per55 {
    width: 55%; }
  .row .col.per56 {
    width: 56%; }
  .row .col.per57 {
    width: 57%; }
  .row .col.per58 {
    width: 58%; }
  .row .col.per59 {
    width: 59%; }
  .row .col.per60 {
    width: 60%; }
  .row .col.per61 {
    width: 61%; }
  .row .col.per62 {
    width: 62%; }
  .row .col.per63 {
    width: 63%; }
  .row .col.per64 {
    width: 64%; }
  .row .col.per65 {
    width: 65%; }
  .row .col.per66 {
    width: 66%; }
  .row .col.per67 {
    width: 67%; }
  .row .col.per68 {
    width: 68%; }
  .row .col.per69 {
    width: 69%; }
  .row .col.per70 {
    width: 70%; }
  .row .col.per71 {
    width: 71%; }
  .row .col.per72 {
    width: 72%; }
  .row .col.per73 {
    width: 73%; }
  .row .col.per74 {
    width: 74%; }
  .row .col.per75 {
    width: 75%; }
  .row .col.per76 {
    width: 76%; }
  .row .col.per77 {
    width: 77%; }
  .row .col.per78 {
    width: 78%; }
  .row .col.per79 {
    width: 79%; }
  .row .col.per80 {
    width: 80%; }
  .row .col.per81 {
    width: 81%; }
  .row .col.per82 {
    width: 82%; }
  .row .col.per83 {
    width: 83%; }
  .row .col.per84 {
    width: 84%; }
  .row .col.per85 {
    width: 85%; }
  .row .col.per86 {
    width: 86%; }
  .row .col.per87 {
    width: 87%; }
  .row .col.per88 {
    width: 88%; }
  .row .col.per89 {
    width: 89%; }
  .row .col.per90 {
    width: 90%; }
  .row .col.per91 {
    width: 91%; }
  .row .col.per92 {
    width: 92%; }
  .row .col.per93 {
    width: 93%; }
  .row .col.per94 {
    width: 94%; }
  .row .col.per95 {
    width: 95%; }
  .row .col.per96 {
    width: 96%; }
  .row .col.per97 {
    width: 97%; }
  .row .col.per98 {
    width: 98%; }
  .row .col.per99 {
    width: 99%; }
  .row .col.per100 {
    width: 100%; }
