.row{
	&::after{
		clear: both;
		content: '.';
		font-size: 0;
		height: 0;
		display: block;
		visibility: hidden;
	}
	.col{
		float: left;
		@for $i from 1 through 100{
			&.per#{$i}{
				width: percentage($i / 100);
			}
		}
	}
}